<% extends "app.html" %>

<% block content %>

<div class="container">
	<div class="row">
		<div class="col text-center my-5">
			<h1 class="display-3">Start learning on your own</h1>
			<p class="lead text-center" style="display:inline-block;max-width: 500px">AI Tutor automatically generates questions for any content you want to learn from.</p>
			<form class="form-inline mt-3 justify-content-center" method="GET" action="/add">
				<input autocomplete="off" name="url" style="width:70%;padding:25px;border-radius:100px;" class="form-control mr-sm-2" type="search" placeholder="Paste your content link">
			</form>
		</div>
	</div>
	<div class="row mt-5">
	    <div class="col">
	      <div style="margin-bottom:30px">
	        <h3>Relevant topics</h3>
	        <% for tag in tags %>
	        <a href="/explore/[[tag]]" class="tag badge badge-info">[[tag]]</a>
	        <% endfor %>
	      </div>
	    </div>
	</div>
	<div class="row mt-3">
		<div class="col">
			<h3>Recent materials</h3>
		</div>
	</div>
	<div class="row">
		<% for content in contents %>
		<div class="col-4">
	    	<div class="card mb-4">
	          <div class="card-body">
	            <h6 class="card-title">
	            	<a href="/learn/[[content.slug]]/[[content._id]]">[[content.title]]</a>
	            </h6>
	            <p class="card-text">[[content.description]]</p>
	          </div>
	        </div>
	   	</div>
	   	<% endfor %>
   </div>
</div>

<% endblock %>