<% extends "app.html" %>

<% block content %>
<div class="container-lg">
  <div class="row">
    <div class="col-md-3">
      <a style="margin-bottom:30px" href="#questions" class="btn btn-lg btn-primary btn-block">Practice</a>
      <div style="margin-bottom:30px">
        <h5>Explore</h5>
        <% for tag in tags %>
        <a href="/explore/[[tag]]" class="tag badge badge-info">[[tag]]</a>
        <% endfor %>
      </div>
      <% if related_content: %>
      <div>
        <h5>Related content</h5>
        <% for item in related_content %>
          <div class="card mb-4">
            <div class="card-body">
              <h6 class="card-title">
                <a href="/learn/[[item.slug]]/[[item._id]]">[[item.title]]
                </a>
              </h6>
              <p class="card-text">[[item.description]]</p>
            </div>
          </div>
        <% endfor %>
      </div>
      <% endif %>
    </div>
    <div class="col-md-9">
      <div style="padding-left: 30px">
        <div class="px-3 pb-md-4 mx-auto text-center">
          <h1>[[content.title]]</h1>
        </div>
        <div>
          <div class="text-muted mb-3" style="font-size: 12px">Source: <a href="[[content.url]]">[[content.url]]</a></div>
          <div>
            [[content.html|safe]]
          </div>
          <hr style="margin: 40px 0px;">
          <div id="questions" style="margin-top: -95px; padding-top: 95px">
            <h2>Questions</h2>
            <form id="answers" method="POST" action="#questions">
            <% for question in content.questions %>
              <p style="margin-top:30px;margin-bottom: 8px">[[loop.index]]) [[question.question]]</p>
              <% for choice in question.choices %>
              <div class="form-check">
                <input style="cursor: pointer;" <% if question.selected_answer == choice %>checked<% endif %> name="question-[[question.id]]" value="[[choice]]" class="form-check-input" type="radio" id="question-[[question.id]]-answer-[[loop.index]]">
                <label style="cursor: pointer;" class="form-check-label"
                    for="question-[[question.id]]-answer-[[loop.index]]">
                  [[choice]]
                </label>
              </div>
              <% endfor %>
              <% if question.error %>
              <div style="max-width:400px" class="alert alert-danger" role="alert">
                [[question.error]]
              </div>
              <% endif %>
              <% if question.success %>
              <div style="max-width:400px" class="alert alert-success" role="alert">
                Correct answer!
              </div>
              <% endif %>
            <% endfor %>
            <button type="submit" class="mt-5 btn btn-lg btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% endblock %>